
html{
  font-family: Arial;
}
body {
  box-sizing: border-box;
  background-color: #555;
  margin:0;
}
input, select{
  width: 30%;
  margin:10px;
  padding:10px;
  border: solid 1px #ccc;
  border-radius: 4px;
}
input[type="submit"]{
  width:20%;
}
input[type="submit"]:hover, input[type="button"]:hover{
  background-color:#22bbbb;
  cursor: pointer;
}
.header{
  width: 100%;
  background-color: #006666;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 2px 0 2px 40px;
}
.oneOfThree{
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
}
.twoOfThree{
  width: 66%;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
}
.teacherInfo{
  width: 80%;
  margin-left: 10%;
  background-color:#fff;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.leftPane{
  background-color: #ccc;

}
.leftPane img{
  width: 70%;
  border-radius: 50%;
}
.leftPane ul{

  font-size: 1.2em;
  list-style: none;
}
.leftPane li{
  margin-top:20px;
}
.leftPane a{
  text-decoration: none;
  color: inherit;
}

.additionalInfo{
  text-align:left;
}
.additionalInfo h1{
  margin-top:0;
}
.additionalInfo li{
  font-size: 1.5em;
  margin: 6px 0;
}
.remove{
  color:red;
  margin-left:5px;
  cursor: pointer;
}
.teacherInfo ul{
  list-style: none;
  padding:0;
}
.teacherForm{
  width: 85%;
  margin: 5%;
  padding: 20px;
  background: #ccc;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.teacherForm input{
  width: 95%;
}
.teacherForm input[type="submit"]{
  width:20%;
}
.teacherForm span{
  display:block;
  margin: 0;
}
.addDetails{
  display:flex;
  flex-wrap: no-wrap;
}
.addDetails{
  flex-basis:30%;
}

.showing{
  display:block;
}

}
