/* Put your css in here */

html{
  font-family: Arial;
}
body, h1, h2, h3, html {
  margin:0;
  padding:0;
}

header{
  background-color: #006666;
  color: #fff;
  padding:0;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

ul{
  padding:0;
  margin:0;
  list-style: none;
}
header nav ul{
  display: flex;
  justify-content: flex-end;
}
.title, header nav{
  flex-basis: 50%;
}

input, select{
  padding:8px;
  border: solid 1px #eee;
  border-radius: 4px;
}
input[type="submit"]{
  width:20%;
}
input[type="submit"]:hover, input[type="button"]:hover{
  background-color:#22bbbb;
  cursor: pointer;
}
nav input{
  color: #fff;
  font-size: 1.2em;
  background-color: inherit;
  border: none;
}
.container{
  display:flex;
}

.left-nav{
  background-color: #eee;
}
.left-nav h3{
  text-align: center;
  margin-top: 10px;
}
.left-nav input{
  color: #000;
  width:100%;
}
.content{
  background-color: white;
  flex-grow: 1;
  padding: 2%;
}

.content h1, h2{
  margin-bottom:10px;
}

.content img{
  border-radius: 50%;
  width: 20%;
}
.homeView{
  text-align: center;
}
.homeView h1{
  margin: 40px 0;
}
.teacherContent h3, .teacherContent h2{
  margin:40px 0 20px 0;
}
.editForm h2{
  margin-top:20px;
}
.filters{
  margin: 20px 0;
}
.editForm{
  position: absolute;
  width: 50%;
  margin-left: 20%;
  padding: 20px;
  background: #ccc;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.editForm input, .editForm select{
  width: 95%;
  margin-bottom: 8px;
}
.editForm input[type="submit"]{
  width:20%;
}
.editForm span{
  display:block;
  margin: 0;
}
.error{
  color: red;
  margin-bottom: 5px;
}
.studentData{
  width: 100%;
  border: 1px #eee solid;
  border-radius: 10px;
}

.studentData tr:first-child{
  font-weight: bold;
}
.info{
  border: 1px #eee solid;
  border-radius: 10px;
}
td{
  padding: 10px;
}
.studentData td:first-of-type{
  width: 10%;
}
.hidden{
  display: none;
}
.showing{
  display:block;
}
.remove{
    color:red;
    margin-left:5px;
    cursor: pointer;
  }
