/* Put your css in here */

html{
  font-family: Arial;
}
body, h1, h2, h3, html {
  margin:0;
  padding:0;
}

header{
  background-color: #006666;
  color: #fff;
  padding:0;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

ul{
  padding:0;
  margin:0;
  list-style: none;
}
header nav ul{
  display: flex;
  justify-content: flex-end;
}
.title, header nav{
  flex-basis: 50%;
}

input, select{
  padding:8px;
  border: solid 1px #ccc;
  border-radius: 4px;
}
input[type="submit"]{
  width:20%;
}
input[type="submit"]:hover, input[type="button"]:hover{
  background-color:#22bbbb;
  cursor: pointer;
}
nav input{
  color: #fff;
  font-size: 1.2em;
  background-color: inherit;
  border: none;
}
.container{
  display:flex;
}

.left-nav{
  background-color: #ccc;
}
.left-nav h3{
  text-align: center;
  margin-top: 10px;
}
.left-nav input{
  color: #000;
  width:100%;
}
.content{
  background-color: white;
  flex-grow: 1;
  padding: 1%;
}

.content h1, h2{
  margin-bottom:10px;
}

.teacherForm{
  width: 50%;
  margin-left: 20%;
  padding: 20px;
  background: #ccc;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.teacherForm input{
  width: 95%;
  margin-bottom: 8px;
}
.teacherForm input[type="submit"]{
  width:20%;
}
.teacherForm span{
  display:block;
  margin: 0;
}

.studentData{
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 10px;
}

.studentData tr:first-child{
  font-weight: bold;
}
tr{

}
td{
  padding: 10px;
}
.studentData td:first-of-type{
  width: 10%;
}
.hidden{
  display: none;
}
.showing{
  display:block;
}
.remove{
    color:red;
    margin-left:5px;
    cursor: pointer;
  }
